<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/" style="font-family: 'Pacifico', cursive; margin-left: 20px;">
        <h3>DataCompass</h3>
    </a>

    <ul class="navbar-nav me-auto"> 
        <li class="nav-item">
            <a href="/" class="nav-link" style="color: azure; text-decoration: none; letter-spacing: 1px;"> Home </a>
        </li>
        <% categories.forEach(category => { %>
            <li class="nav-item">
                <a href="/category/<%= category.slug %>" class="nav-link" style="color: azure; text-decoration: none; letter-spacing: 1px;"><%= category.title %></a>
            </li>
        <% } ) %>

        
    </ul>
</nav>
