<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/" style="font-family: 'Pacifico', cursive; margin-left: 20px;">
        <h3>DataCompass</h3>
    </a>

    <ul class="navbar-nav me-auto"> 
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categorias</a>
        </li>
    </ul>
</nav>
